
{% extends "base.html" %}
{%block content %}

<center>
	<h1> Platforma pentru teme </h1>
	<br>
		 <h3>Aici gasiti diverse variante ale problemelor rezolvate ca tema 
										la grupa {{ grupa }}</h3>
	
	
	<br><br><br>
	
	<h2>Urca Problema pe site</h2>
	<p>Ar fi de preferact ca fisierele sa aiba formatul: <b>problemX.py</b>
		,unde x reprezinta numarul problemei<br>
		<u>In caz de rusita, fisierele vor fi urcate direct pe 
		<a href="https://github.com/AdminSDA/Lab{{grupa}}">github</a></u></p>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form class="upload" method="post" action="" enctype="multipart/form-data">
    <dl>
		<p>
			<input class="upload_imput" type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input class="submit" type="submit" value="Submit">
	</p>
</form>
	<br>
	<p> Uploaded Files: <p>
	{% for line in upload_files %}
			{{ line }}<br>
		{% endfor %}
	
	<br>
	<p> Probleme la rulare:</p>
	{% for line in content %}
			{{ line }}<br>
		{% endfor %}
		
	<br><br><br>
	<a href="/">
		<div class="groupe">
			Grupe
		</div>
	</a>
	
		
</center>


{% endblock %}

